#date{
    float: right;
    margin: 3% 3% 0 0;
}

@media (max-width: 767px) {
    #date{
        margin-top: 24%;
        font-size: 3vw!important;
    }
    .icon{
        padding: 4%!important;
    }
    .mb-0{
        font-size: 7vw!important;
    }
}

@media only screen and (max-width:850px) and (min-width:650px){
    .mb-0{
        font-size: 2vw!important;
    }
    .icon img{
        width: 18%!important;
        margin: 11% 10% 0 0!important;
    }
}

@media only screen and (max-width:1250px) and (min-width:850px){
    .icon img{
        width: 16%!important;
        margin: 10% 12% 0 0!important;
    }
}

@media (min-width:850px){
    .icon{
        max-height: 50%;
    }
}


a{
    text-decoration: none!important;
    color: black!important;
}

i{
    float: right;
    font-size: 1.3em;
}

.customer, .staff , .room, .ecommerce, .booking{
    display: none;
    font-size: 0.8rem;
    margin-left: 29%;
}

.show{
    display: block;
}

.row{
    margin-top: 3%!important;
}

h5{
    font-size: 150%!important;
}

.icon{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-top: 1%!important;
    padding: 2%;
}

.icon img{
    width: 10%;
    float: right;
    margin: 2% 5% 0 0;
}

.sidebar{
    height: 100rem;
    display: block;
    padding: 2%;
    margin: -8% 0 0 -1%;
    float: left;
    width: 17.4rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

@media (max-width: 767px) {
    .sidebar{
        display: none;
    }
}

ul{
    list-style: none;
    padding-left: 0!important;
}

li{
    line-height: 3rem;
}

li img{
    width: 14%;
    margin-right: 15%;
}

.sidebar svg{
    margin-right: 15%;
}

.line-container{
    width: 52%;
    float: left;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-left: 10px;
}

.donut-container{
    width: 26%;
    float: right;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-left: 10px;
    margin-right: 10px;
}
