#date{
    float: right;
    margin: 3% 3% 0 0;
}

@media (max-width: 767px) {
    #date{
        margin-top: 24%;
        font-size: 3vw!important;
    }
    .icon{
        padding: 4%!important;
    }
    .mb-0{
        font-size: 7vw!important;
    }
}

@media only screen and (max-width:850px) and (min-width:650px){
    .mb-0{
        font-size: 2vw!important;
    }
    .icon img{
        width: 18%!important;
        margin: 11% 10% 0 0!important;
    }
}

@media only screen and (max-width:1250px) and (min-width:850px){
    .icon img{
        width: 16%!important;
        margin: 10% 12% 0 0!important;
    }
}

@media (min-width:850px){
    .icon{
        max-height: 50%;
    }
}

a{
    text-decoration: none!important;
    color: black!important;
}

i{
    float: right;
    font-size: 1.3em;
    margin-top: -19%;
}

.customer, .staff , .room, .ecommerce, .booking{
    display: none;
    font-size: 0.8rem;
    margin-left: 29%;
}

.show{
    display: block;
}

.row{
    margin-top: 3%!important;
}

h5{
    font-size: 150%!important;
}

.icon{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-top: 1%!important;
    padding: 2%;
}

.icon img{
    width: 10%;
    float: right;
    margin: 2% 5% 0 0;
}

#sidebar{
    height: 100rem;
    padding: 2%;
    margin: -4% 0 0 -1%;
    float: left;
    width: 17.4rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

@media (max-width: 767px) {
    #sideMenu{
        display: block!important;
        float: left;
        margin-left: -5%;
    }
    #sidebar{
        display: none;
    }
    .offcanvas-start{
        width: 35%!important;
        height: 32rem!important;
    }
    .offcanvas-header{
        padding: 0.5rem 0.5rem!important;
    }
    .offcanvas-body{
        margin-top: -4%!important;
        padding: 0!important;
    }
    .sidebar svg{
        margin-right: 3%!important;
        margin-left: 10%;
    }
    ul{
        margin-left: 3%;
    }
    li{
        font-size: 12px;
        line-height: 4rem;
        margin: 0 0 -10% -13%;
    }
    a img{
        width: 20%!important;
        margin-right: 3%!important;
        margin-left: 10%!important;
    }
    i{
        float: none;
        margin-left: 38%;
    }
    .customer, .staff , .room, .ecommerce, .booking{
        margin-left: 13%;
    }
    .menu{
        display: block!important;
    }
    .icon img{
        width: 12%;
        margin-right: 5%;
    }
}

#sideMenu{
    display: none;
}

.menu{
    display: none;
}

.opacity{
    opacity: 1;
}

ul{
    list-style: none;
    padding-left: 0!important;
}

li{
    line-height: 3rem;
    opacity: 0.8;
}

li:hover{
    opacity: 1;
}

a img{
    width: 14%;
    margin-right: 15%;
    opacity: 0.8;
}

#sidebar svg{
    margin-right: 15%;
    opacity: 0.8;
}

.line-container{
    width: 52%;
    float: left;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-left: 10px;
}

.donut-container{
    width: 26%;
    float: right;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    margin-left: 10px;
    margin-right: 10px;
}
